
<form action="/mqtt/main" method="post">
    <input type="text" name="cmd" />
    <button>보내기</button>
</form>

<canvas id='c'> </canvas>

<img src="" id="originImg">



<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>

<script>
    // MQTT 서버 연결
    client = new Paho.MQTT.Client("10.10.10.104", Number(9001), "clientId");

    // set callback handlers
    client.onConnectionLost = onConnectionLost;
    client.onMessageArrived = onMessageArrived;

    // connect the client
    client.connect({ onSuccess: onConnect });

    // 클라이언트가 연결할 때 호출됨
    function onConnect() {
        // 연결할 토픽설정
        client.subscribe("abcd");
        console.log("onConnect");

    }

    // 클라이언트의 연결이 끊어지면 호출됩니다
    function onConnectionLost(responseObject) {
        if (responseObject.errorCode !== 0) {
            console.log("onConnectionLost:" + responseObject.errorMessage);
        }
    }

        // 메시지가 도착하면 호출됩니다
    function onMessageArrived(message) {

        console.log("onMessageArrived:" + message.payloadString);

        var imgTag = document.getElementById("originImg");
        imgTag.src = "data:image/jpeg;base64," + message.payloadString;

    }


</script>