@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" id="testinput1" value="100000" />
    <input type="text" id="testinput2" value="100000" />
</div>

<script>
    //function sendRequest() {
    //    var httpRequest = new XMLHttpRequest();
    //    httpRequest.onreadystatechange = function () {
    //        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
    //            console.log(httpRequest.responseText);
    //            var res = httpRequest.responseText.split('/');
    //            //var res = JSON.parse(httpRequest.responseText)
    //            document.getElementById("testinput1").value = res[0]   
    //            document.getElementById("testinput2").value = res[1]   
    //            //document.getElementById("text").innerHTML = httpRequest.responseText;
    //        }
    //    };
    //    // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
    //    httpRequest.open("GET", "/ex/test?id=1", true);
    //    httpRequest.send();
    //}

    //getData = setInterval(function () {
    //    sendRequest();
    //}, 1000);
</script>